@import url("clash-grotesk.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

html {
  font-size: 62.5%;

  //1248px
  @media (max-width: 78em) {
    font-size: 50%;
  }

  //1008px
  @media (max-width: 63em) {
    font-size: 37.5%;
  }

  //752px
  @media (max-width: 47em) {
    font-size: 62.5%;
  }
}

body {
  background-color: var(--text-white);
  color: var(--text-black);
  overflow-x: hidden;
}

.open-mob-menu body {
  overflow: hidden;
}

/*---------------------blocks---------------------*/

.container {
  margin: 0 auto;
  padding: 0 10rem;
  max-width: 160rem;

  // 752px
  @media (max-width: 47em) {
    padding: 0 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;

  // 752px
  @media (max-width: 47em) {
    display: block;
  }
}

.rounded-corners {
  border-radius: 9rem 9rem 0 0;

  // 752px
  @media (max-width: 47em) {
    border-radius: 4rem 4rem 0 0;
  }

  &--white {
    background-color: var(--text-white);
  }

  &--black {
    background-color: var(--element-black);
  }
}

.section-border-line {
  border-bottom: 1px var(--element-black-040) solid;
}

.menu-font {
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--text-white);
  opacity: 0.6;

  &--opacity1 {
    opacity: 1;
  }
}

//1008px
@media (max-width: 63em) {
  .open-mob-menu .menu-font--mob {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 90%;
    color: var(--background-white);
  }
}

.mob-menu-btn {
  display: none;
  padding: 0.5rem 1rem;
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  //1008px
  @media (max-width: 63em) {
    &--open {
      display: inline-block;
      color: var(--text-white);
      background-color: var(--element-black);
    }

    &--close {
      color: var(--text-black);
      background-color: var(--background-white);
    }
  }

  // 752px
  @media (max-width: 47em) {
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
  }
}

.open-mob-menu .mob-menu-btn--open {
  display: none;
}

//1008px
@media (max-width: 63em) {
  .open-mob-menu .mob-menu-btn--close {
    display: inline-block;
  }
}

.headline1 {
  margin: 0;
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 90%;
  text-transform: uppercase;
  color: var(--text-black);

  &--white {
    color: var(--text-white);
  }

  //1008px
  @media (max-width: 63em) {
    font-size: 84px;
  }

  // 752px
  @media (max-width: 47em) {
    font-size: 63px;
  }

  // 464px
  @media (max-width: 29em) {
    font-size: 40px;
  }
}

.headline3 {
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 86%;
  text-transform: uppercase;
  color: var(--text-black);

  &--color-text2 {
    color: var(--text-2);
  }

  //752px
  @media (max-width: 47em) {
    font-size: 2.4rem;
    line-height: 101%;

    &--sm-medium {
      font-weight: 500;
      line-height: 100%;
    }
  }
}

.headline4 {
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 101%;
  text-transform: uppercase;
  color: var(--text-black);

  &--medium {
    font-weight: 500;
    line-height: 100%;
  }

  // 752px
  @media (max-width: 47em) {
    font-size: 1.6rem;

    &--lg {
      font-size: 2.4rem;
    }
  }
}

.caption {
  display: inline-block;
  padding: 1rem 2.5rem;
  letter-spacing: 0em;
  border: 1px solid var(--text-black);
  border-radius: 9rem;

  // 752px
  @media (max-width: 47em) {
    padding: 0.6rem 1.5rem;
  }
}

.text1 {
  font-family: Clash Grotesk Variable;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0em;
  font-style: normal;
  line-height: 100%;
  color: var(--text-black);

  // 752px
  @media (max-width: 47em) {
    font-size: 2.2rem;
  }
}

.text2 {
  font-family: Clash Grotesk Variable;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-black);

  // 752px
  @media (max-width: 47em) {
    font-size: 1.8rem;
  }
}

.link1 {
  font-family: "Clash Grotesk Variable";
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 100%;
  color: var(--text-black);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px currentColor solid;

  // 752px
  @media (max-width: 47em) {
    font-size: 1.4rem;
  }
}

.link2 {
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  border-bottom: 1.5px currentColor solid;
  text-transform: uppercase;
  color: var(--text-black);
}

.long-button {
  height: 10rem;
  font-family: "Clash Grotesk Variable";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-black);
  border: 1px solid var(--element-black);
  border-radius: 7.4rem;
  background-color: transparent;

  // 752px
  @media (max-width: 47em) {
    height: 8rem;
    font-size: 1.8rem;
  }
}

/*-------------------------colors and variables-------------------*/
:root {
  --text-black: #1d1d1d;
  --text-white: #fff;
  --text-1: #0f6da7;
  --text-2: #0dc1c2;
  --background-white: #f4f0e8;
  --element-black: #121212;
  --element-black-040: rgba(18, 18, 18, 0.4);
  --phylosophy-rounded-top: 10rem;

  // 752px
  @media (max-width: 47em) {
    --phylosophy-rounded-top: 4.2rem;
  }
}

/*---------------------hero section---------------------*/

.hero {
  background-color: var(--text-1);
  background: url(../img/hero_photo.jpg) center/cover no-repeat;
  min-height: calc(100vh + var(--phylosophy-rounded-top));

  //1008px
  @media (max-width: 63em) {
    background-image: url(../img/hero_photo_mob.jpg);

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      min-height: calc(100vh + var(--phylosophy-rounded-top));
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.45);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--phylosophy-rounded-top));
    position: relative;
    z-index: 2;

    //1008px
    @media (max-width: 63em) {
      justify-content: center;
    }
  }

  &__header {
    min-height: 13rem;
    position: relative;
  }

  &__header-inner {
    padding-top: 50px;
    position: relative;
    z-index: 2;

    //1008px
    @media (max-width: 63em) {
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    // 752px
    @media (max-width: 47em) {
      padding-top: 1.3rem;
    }
  }

  &__headline1 {
    text-align: center;
    color: var(--text-white);
    width: 940px;

    //1008px
    @media (max-width: 63em) {
      width: 663px;
    }

    // 752px
    @media (max-width: 47em) {
      width: 424px;
    }

    // 464px
    @media (max-width: 29em) {
      width: 269px;
    }
  }

  &__logo {
    margin: 0.2rem 0 0 0.9rem;
  }

  &__headline4 {
    margin-top: 3.2rem;
    width: 69rem;
    text-align: center;
    color: var(--text-white);

    //1008px
    @media (max-width: 63em) {
      margin-top: 1.6rem;
    }

    // 752px
    @media (max-width: 47em) {
      width: 30rem;
    }
  }

  &__vline {
    margin-top: 5rem;
    height: 7.6rem;
    width: 1px;
    background-color: var(--text-white);

    //1008px
    @media (max-width: 63em) {
      display: none;
    }
  }
}

.open-mob-menu .hero__header-inner {
  //1008px
  @media (max-width: 63em) {
    padding: 8.34rem 12.34rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(2, auto);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--element-black);
    z-index: 5;
  }

  // 752px
  @media (max-width: 47em) {
    padding: 1.3rem 1rem 4rem 1rem;
  }
}

.header {
  &__logo {
    margin-left: 0.9rem;

    // 752px
    @media (max-width: 47em) {
      margin-left: 0;
    }
  }

  &__lang {
    grid-column: 4/5;
    justify-self: end;

    //1008px
    @media (max-width: 63em) {
      display: none;
    }
  }

  &__lang-btn {
    //1008px
    @media (max-width: 63em) {
      font-size: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__nav {
    grid-column: 3/4;
    display: flex;
    justify-content: space-between;

    //1008px
    @media (max-width: 63em) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
    }
  }

  &__nav-item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__nav-column:last-child {
    margin-right: 4.3rem;

    //1008px
    @media (max-width: 63em) {
      margin-right: 0;
    }
  }

  &__nav-item {
    list-style: none;
  }
}

//1008px
@media (max-width: 63em) {
  .open-mob-menu .header__nav {
    grid-row: 2/3;
    grid-column: 1/3;
    place-self: center;
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.5s ease-in-out;
  }

  .open-mob-menu .header__nav-item:not(:last-child) {
    margin-bottom: 0.4rem;
  }

  .open-mob-menu .header__nav-column:not(:last-child) {
    margin-bottom: 0.4rem;
  }

  .open-mob-menu .header__lang {
    display: block;
    grid-row: 3/4;
    grid-column: 1/3;
    place-self: center;
  }

  .open-mob-menu .header__lang-btn {
    display: inline-block;
    color: var(--background-white);
  }

  .open-mob-menu .header__lang-btn:not(:last-child) {
    margin: 0 1.5rem 0 0;
  }
}

.logo-img {
  width: 20rem;
  height: 2.4rem;

  //752px
  @media (max-width: 47em) {
    width: 11.5rem;
    height: 1.4rem;
  }
}

/*------------------phylosophy--------------------*/
.phylosophy {
  margin-top: calc(var(--phylosophy-rounded-top) * -1);
  padding-top: var(--phylosophy-rounded-top);
  position: relative;
  z-index: 2;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 5.3rem;
    row-gap: 3rem;
  }

  &__caption {
    flex: 0 0 auto;
  }

  &__content {
    margin-bottom: 14rem;
    flex: 1 1 39rem;
    display: flex;
    flex-direction: column;

    //752px
    @media (max-width: 47em) {
      margin-bottom: 9rem;
    }

    // 432px
    @media (max-width: 27em) {
      margin-bottom: 7rem;
    }
  }

  &__text1 {
    text-align: left;
  }

  &__link-wrap {
    margin-top: 5rem;
    display: inline;

    //752px
    @media (max-width: 47em) {
      margin-top: 3.2rem;
    }
  }

  &__link {
    &::after {
      display: inline-block;
      padding: 0 0 0 2.6rem;
      content: "";
      background: url(../img/link_arrow.svg) right/contain no-repeat;
      height: 1.6rem;
      width: 1.6rem;

      // 752px
      @media (max-width: 47em) {
        height: 1rem;
        width: 1rem;
      }
    }
  }
}

/*------------------projects--------------------*/

.projects {
  &__inner {
    padding-bottom: 14rem;

    // 752px
    @media (max-width: 47em) {
      padding-bottom: 9rem;
    }

    // 432px
    @media (max-width: 27em) {
      padding-bottom: 7rem;
    }
  }

  &__grid {
    grid-template-rows: 42.5rem 35.5rem 7rem 42.5rem;
    grid-template-columns: repeat(4, minmax(auto, 33.5rem));
    margin-top: 10rem;

    // 752px
    @media (max-width: 47em) {
      display: block;
      margin-top: 3rem;
    }
  }

  // 752px
  @media (max-width: 47em) {
    &__item:not(:first-child) {
      margin-top: 5rem;
    }
  }

  &__item-pic {
    img {
      display: block;
      width: 33.5rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 13%;
    }

    &--main {
      img {
        width: 69rem;
      }
    }

    //752px
    @media (max-width: 47em) {
      img {
        width: 100%;
      }
    }
  }

  &__caption {
    margin-top: 3.5rem;

    // 752px
    @media (max-width: 47em) {
      margin-top: 2rem;
    }
  }

  &__item-expo2020 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  &__item-giants {
    grid-row: 1/3;
    grid-column: 2/5;
    justify-self: end;
  }

  &__item-title {
    margin-top: 2.5rem;
  }

  &__item-descr {
    margin-top: 1rem;
    opacity: 70%;
  }

  // 752px
  @media (max-width: 47em) {
    &__item-title {
      margin-top: 1.5rem;
    }

    &__item-descr {
      margin-top: 0.4rem;
    }
  }

  &__item-inspiring {
    margin-top: 1.3rem;
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
  }

  //752px
  @media (max-width: 47em) {
    &__item-inspiring-text {
      display: none;
    }
  }

  &__item-globe {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  &__item-surfer {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  &__item-plantsVsZ {
    grid-row: 4/5;
    grid-column: 3/5;
    justify-self: end;
  }

  &__btn {
    margin-top: 7rem;
    width: 100%;

    //752px
    @media (max-width: 47em) {
      margin-top: 5rem;
    }
  }
}

/*------------------awards--------------------*/

.awards {
  &__inner {
    padding: 0 0 14rem 0;
    row-gap: 5rem;

    //752px
    @media (max-width: 47em) {
      padding: 0 0 9rem 0;
      display: grid;
      column-gap: 21.8%;
      row-gap: 3rem;
    }

    // 432px
    @media (max-width: 27em) {
      display: block;
      padding: 0 0 7rem 0;
    }
  }

  &__caption {
    margin-top: 3.5rem;
    grid-column: 1/2;
    place-self: start;

    //752px
    @media (max-width: 47em) {
      margin-top: 2rem;
    }
  }

  &__item {
    grid-column: 2/-1;
    padding-bottom: 2.5rem;
    min-height: 8.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    border-bottom: 1px solid var(--element-black-040);

    &:nth-child(2) {
      margin-top: 5rem;
    }

    //752px
    @media (max-width: 47em) {
      padding-bottom: 1.5rem;
      min-height: 10.1rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &:nth-child(2) {
        margin-top: 2rem;
      }

      // 432px
      @media (max-width: 27em) {
        padding: 3rem 0;
      }
    }
  }

  &__name {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 30% 70%;

    h4 {
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    //752px
    @media (max-width: 47em) {
      display: block;
    }

    &-year {
      grid-column: 1/2;
    }

    &-title {
      grid-column: 2/3;
      width: 80%;

      //752px
      @media (max-width: 47em) {
        margin-top: 0.4rem;
        width: 100%;
      }
    }
  }

  &__details {
    margin-left: 1.4rem;
    grid-column: 3/4;

    //752px
    @media (max-width: 47em) {
      margin: 1rem 0 0 0;
    }
  }

  &__btn {
    margin-top: 2rem;
    width: 100%;
    grid-column: 2/-1;

    // 432px
    @media (max-width: 27em) {
      margin-top: 5rem;
    }
  }
}

/*------------------news--------------------*/
.news {
  &__inner {
    padding-bottom: 9.7rem;
    grid-template-rows: 18.5rem 8.5rem auto;

    //752px
    @media (max-width: 47em) {
      padding: 2rem 0 4rem 0;
    }

    // 432px
    @media (max-width: 27em) {
      padding: 2rem 0 3rem 0;
    }
  }

  &__caption {
    margin-top: 3.5rem;
    grid-column: 1/5;
    grid-row: 1/2;
    place-self: start;

    //752px
    @media (max-width: 47em) {
      margin: 0;
    }
  }

  &__date {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 9.4rem;
    overflow-wrap: break-word;

    //1536px
    @media (max-width: 96em) {
      grid-row: 1/2;
      align-self: end;
    }

    //752px
    @media (max-width: 47em) {
      margin-top: 2rem;
      max-width: 100%;
      opacity: 70%;
    }
  }

  &__title {
    grid-column: 2/4;
    grid-row: 2/3;

    //1536px
    @media (max-width: 96em) {
      grid-column: 2/4;
      grid-row: 1/2;
      align-self: end;
    }

    //752px
    @media (max-width: 47em) {
      margin-top: 1.5rem;
    }
  }

  &__descr {
    grid-column: 4/5;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    //1536px
    @media (max-width: 96em) {
      grid-column: 3/5;
      grid-row: 3/4;
    }

    //752px
    @media (max-width: 47em) {
      margin-top: 1.5rem;
    }

    &-text {
      flex: 1 1 auto;
      padding-right: 3.5rem;

      & p:not(:first-child) {
        margin-top: 2.5rem;

        //752px
        @media (max-width: 47em) {
          margin-top: 1rem;
        }
      }
    }

    &-link {
      margin-bottom: 0.4rem;

      //752px
      @media (max-width: 47em) {
        margin-top: 2rem;
        text-align: right;
      }
    }
  }

  &__pic {
    grid-column: 1/3;
    grid-row: 3/4;
    max-width: 55rem;

    //752px
    @media (max-width: 47em) {
      margin: 4rem auto 0 auto;
    }

    img {
      width: 100%;

      //1536px
      @media (max-width: 96em) {
        width: 75%;
      }

      //752px
      @media (max-width: 47em) {
        width: 100%;
      }
    }
  }

  &__view {
    margin-top: 5rem;
    min-height: 16.4rem;

    //752px
    @media (max-width: 47em) {
      margin-top: 2rem;
      min-height: 7rem;
    }

    // 432px
    @media (max-width: 27em) {
      margin-top: 4rem;
      min-height: 8rem;
    }
  }

  &__view-link {
    grid-column: 4/5;
    height: 2.4rem;
    width: 12.3rem;

    &::after {
      display: inline-block;
      padding: 0 0 0 2.6rem;
      content: "";
      background: url(../img/link_arrow.svg) right/contain no-repeat;
      height: 1.6rem;
      width: 1.6rem;

      //752px
      @media (max-width: 47em) {
        height: 1rem;
        width: 1rem;
      }
    }
  }
}

/*------------------footer--------------------*/
.footer {
  min-height: 999px;

  &-wrap {
    vertical-align: center;
  }

  &__marquee {
    min-height: 13.4rem;
    border-bottom: 1px #fff solid;
  }
}

.footer-talk {
  display: flex;
  padding: 12rem 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #fff solid;

  &__title {
    flex: 1 1 auto;
    display: inline-block;

    &--right-img::after {
      content: "";
      display: inline-block;
      margin: 0 0 -4px 6px;
      background: url(../img/footer__contact-img1.png) right no-repeat;
      height: 100px;
      width: 160px;
    }

    &--left-img {
      text-align: right;

      &::before {
        content: "";
        display: inline-block;
        margin: 0 36px -6px 403px;
        background: url(../img/footer__contact-img2.png) right no-repeat;
        height: 100px;
        width: 160px;
      }
    }
  }

  &__btn {
    flex: 0 0 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    border-radius: 50%;
    border: 1px #fff solid;

    &-text {
      font-family: Clash Grotesk Variable;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0.03em;
      text-align: left;
      text-transform: uppercase;
      color: var(--text-white);
    }
  }
}

.footer-bottom {
  padding: 5rem 0 2rem 0;
  min-height: 37.3rem;

  &__logo {
    display: inline-block;
    margin-bottom: 2.9rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__tel {
    margin-bottom: 1.4rem;
  }

  &__mail {
    grid-column: 3/4;
    grid-row: 1/2;
    list-style: none;

    &-item:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__adress {
    flex: 1 1 auto;
  }

  &__copy {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    grid-column: 4/5;
    grid-row: 1/2;

    &-item:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
