@import url("clash-grotesk.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
@media (max-width: 78em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 63em) {
  html {
    font-size: 37.5%;
  }
}
@media (max-width: 47em) {
  html {
    font-size: 62.5%;
  }
}

body {
  background-color: var(--text-white);
  color: var(--text-black);
  overflow-x: hidden;
}

.open-mob-menu body {
  overflow: hidden;
}

/*---------------------blocks---------------------*/
.container {
  margin: 0 auto;
  padding: 0 10rem;
  max-width: 160rem;
}
@media (max-width: 47em) {
  .container {
    padding: 0 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (max-width: 47em) {
  .grid {
    display: block;
  }
}

.rounded-corners {
  border-radius: 9rem 9rem 0 0;
}
@media (max-width: 47em) {
  .rounded-corners {
    border-radius: 4rem 4rem 0 0;
  }
}
.rounded-corners--white {
  background-color: var(--text-white);
}
.rounded-corners--black {
  background-color: var(--element-black);
}

.section-border-line {
  border-bottom: 1px var(--element-black-040) solid;
}

.menu-font {
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--text-white);
  opacity: 0.6;
}
.menu-font--opacity1 {
  opacity: 1;
}

@media (max-width: 63em) {
  .open-mob-menu .menu-font--mob {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 90%;
    color: var(--background-white);
  }
}
.mob-menu-btn {
  display: none;
  padding: 0.5rem 1rem;
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
@media (max-width: 63em) {
  .mob-menu-btn--open {
    display: inline-block;
    color: var(--text-white);
    background-color: var(--element-black);
  }
  .mob-menu-btn--close {
    color: var(--text-black);
    background-color: var(--background-white);
  }
}
@media (max-width: 47em) {
  .mob-menu-btn {
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
  }
}

.open-mob-menu .mob-menu-btn--open {
  display: none;
}

@media (max-width: 63em) {
  .open-mob-menu .mob-menu-btn--close {
    display: inline-block;
  }
}
.headline1 {
  margin: 0;
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 90%;
  text-transform: uppercase;
  color: var(--text-black);
}
.headline1--white {
  color: var(--text-white);
}
@media (max-width: 86em) {
  .headline1 {
    font-size: 10rem;
  }
}
@media (max-width: 63em) {
  .headline1 {
    font-size: 84px;
  }
}
@media (max-width: 52em) {
  .headline1 {
    font-size: 63px;
  }
}
@media (max-width: 33em) {
  .headline1 {
    font-size: 40px;
  }
}
@media (max-width: 22em) {
  .headline1--sm {
    font-size: 32px;
    overflow-wrap: break-word;
  }
}

.headline3 {
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 86%;
  text-transform: uppercase;
  color: var(--text-black);
}
.headline3--color-text2 {
  color: var(--text-2);
}
@media (max-width: 47em) {
  .headline3 {
    font-size: 2.4rem;
    line-height: 101%;
  }
  .headline3--medium-mob {
    font-weight: 500;
    line-height: 100%;
  }
}

.headline4 {
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 101%;
  text-transform: uppercase;
  color: var(--text-black);
}
.headline4--medium {
  font-weight: 500;
  line-height: 100%;
}
@media (max-width: 47em) {
  .headline4 {
    font-size: 1.6rem;
  }
  .headline4--lg {
    font-size: 2.4rem;
  }
}

.caption {
  display: inline-block;
  padding: 1rem 2.5rem;
  letter-spacing: 0em;
  border: 1px solid var(--text-black);
  border-radius: 9rem;
}
@media (max-width: 47em) {
  .caption {
    padding: 0.6rem 1.5rem;
  }
}

.text1 {
  font-family: Clash Grotesk Variable;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0em;
  font-style: normal;
  line-height: 100%;
  color: var(--text-black);
}
@media (max-width: 47em) {
  .text1 {
    font-size: 2.2rem;
  }
}

.text2 {
  font-family: Clash Grotesk Variable;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-black);
}
@media (max-width: 47em) {
  .text2 {
    font-size: 1.8rem;
  }
}

.link1 {
  font-family: "Clash Grotesk Variable";
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 100%;
  color: var(--text-black);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px currentColor solid;
}
@media (max-width: 47em) {
  .link1 {
    font-size: 1.4rem;
  }
}

.link2 {
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  border-bottom: 1.5px currentColor solid;
  text-transform: uppercase;
  color: var(--text-black);
}

.long-button {
  height: 10rem;
  font-family: "Clash Grotesk Variable";
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-black);
  border: 1px solid var(--element-black);
  border-radius: 7.4rem;
  background-color: transparent;
}
@media (max-width: 47em) {
  .long-button {
    height: 8rem;
    font-size: 1.8rem;
  }
}

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21rem;
  width: 21rem;
  min-height: 100%;
  border-radius: 50%;
  border: 1px var(--text-white) solid;
  font-family: Clash Grotesk Variable;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--text-white);
}
@media (max-width: 47em) {
  .circle-button {
    height: 12.4rem;
    width: 12.4rem;
  }
}

/*-------------------------colors and variables-------------------*/
:root {
  --text-black: #1d1d1d;
  --text-white: #fff;
  --text-1: #0f6da7;
  --text-2: #0dc1c2;
  --background-white: #f4f0e8;
  --element-black: #121212;
  --element-black-040: rgba(18, 18, 18, 0.4);
  --phylosophy-rounded-top: 10rem;
}
@media (max-width: 47em) {
  :root {
    --phylosophy-rounded-top: 4.2rem;
  }
}

/*---------------------hero section---------------------*/
.hero {
  background-color: var(--text-1);
  background: url(../img/hero_photo.jpg) center/cover no-repeat;
  min-height: calc(100vh + var(--phylosophy-rounded-top));
}
@media (max-width: 63em) {
  .hero {
    background-image: url(../img/hero_photo_mob.jpg);
  }
  .hero::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    min-height: calc(100vh + var(--phylosophy-rounded-top));
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.45);
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--phylosophy-rounded-top));
  position: relative;
  z-index: 2;
}
@media (max-width: 63em) {
  .hero__content {
    justify-content: center;
  }
}
.hero__header {
  min-height: 13rem;
  position: relative;
}
.hero__header-inner {
  padding-top: 50px;
  position: relative;
  z-index: 2;
}
@media (max-width: 63em) {
  .hero__header-inner {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (max-width: 47em) {
  .hero__header-inner {
    padding-top: 1.3rem;
  }
}
.hero__title {
  text-align: center;
  color: var(--text-white);
}
.hero__logo {
  margin: 0.2rem 0 0 0.9rem;
}
.hero__descr {
  margin-top: 3.2rem;
  width: 69rem;
  text-align: center;
  color: var(--text-white);
}
@media (max-width: 63em) {
  .hero__descr {
    margin-top: 1.6rem;
  }
}
@media (max-width: 47em) {
  .hero__descr {
    width: 30rem;
  }
}
.hero__vline {
  margin-top: 5rem;
  height: 7.6rem;
  width: 1px;
  background-color: var(--text-white);
}
@media (max-width: 63em) {
  .hero__vline {
    display: none;
  }
}

@media (max-width: 63em) {
  .open-mob-menu .hero__header-inner {
    padding: 8.34rem 12.34rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(2, auto);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--element-black);
    z-index: 5;
  }
}
@media (max-width: 47em) {
  .open-mob-menu .hero__header-inner {
    padding: 1.3rem 1rem 4rem 1rem;
  }
}

.header__logo {
  margin-left: 0.9rem;
}
@media (max-width: 47em) {
  .header__logo {
    margin-left: 0;
  }
}
.header__lang {
  grid-column: 4/5;
  justify-self: end;
}
@media (max-width: 63em) {
  .header__lang {
    display: none;
  }
}
@media (max-width: 63em) {
  .header__lang-btn {
    font-size: 2rem;
  }
}
.header__lang-btn:not(:last-child) {
  margin-bottom: 1.5rem;
}
.header__nav {
  grid-column: 3/4;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 63em) {
  .header__nav {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }
}
.header__nav-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.header__nav-column:last-child {
  margin-right: 4.3rem;
}
@media (max-width: 63em) {
  .header__nav-column:last-child {
    margin-right: 0;
  }
}
.header__nav-item {
  list-style: none;
}

@media (max-width: 63em) {
  .open-mob-menu .header__nav {
    grid-row: 2/3;
    grid-column: 1/3;
    place-self: center;
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.5s ease-in-out;
  }
  .open-mob-menu .header__nav-item:not(:last-child) {
    margin-bottom: 0.4rem;
  }
  .open-mob-menu .header__nav-column:not(:last-child) {
    margin-bottom: 0.4rem;
  }
  .open-mob-menu .header__lang {
    display: block;
    grid-row: 3/4;
    grid-column: 1/3;
    place-self: center;
  }
  .open-mob-menu .header__lang-btn {
    display: inline-block;
    color: var(--background-white);
  }
  .open-mob-menu .header__lang-btn:not(:last-child) {
    margin: 0 1.5rem 0 0;
  }
}
.logo-img {
  width: 20rem;
  height: 2.4rem;
}
@media (max-width: 47em) {
  .logo-img {
    width: 11.5rem;
    height: 1.4rem;
  }
}

/*------------------phylosophy--------------------*/
.phylosophy {
  margin-top: calc(var(--phylosophy-rounded-top) * -1);
  padding-top: var(--phylosophy-rounded-top);
  position: relative;
  z-index: 2;
}
.phylosophy__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  -moz-column-gap: 5.3rem;
       column-gap: 5.3rem;
  row-gap: 3rem;
}
.phylosophy__caption {
  flex: 0 0 auto;
}
.phylosophy__content {
  margin-bottom: 14rem;
  flex: 1 1 39rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 47em) {
  .phylosophy__content {
    margin-bottom: 9rem;
  }
}
@media (max-width: 27em) {
  .phylosophy__content {
    margin-bottom: 7rem;
  }
}
.phylosophy__text1 {
  text-align: left;
}
.phylosophy__link-wrap {
  margin-top: 5rem;
  display: inline;
}
@media (max-width: 47em) {
  .phylosophy__link-wrap {
    margin-top: 3.2rem;
  }
}
.phylosophy__link::after {
  display: inline-block;
  padding: 0 0 0 2.6rem;
  content: "";
  background: url(../img/link_arrow.svg) right/contain no-repeat;
  height: 1.6rem;
  width: 1.6rem;
}
@media (max-width: 47em) {
  .phylosophy__link::after {
    height: 1rem;
    width: 1rem;
  }
}

/*------------------projects--------------------*/
.projects__inner {
  padding-bottom: 14rem;
}
@media (max-width: 47em) {
  .projects__inner {
    padding-bottom: 9rem;
  }
}
@media (max-width: 27em) {
  .projects__inner {
    padding-bottom: 7rem;
  }
}
.projects__grid {
  grid-template-rows: 42.5rem 35.5rem 7rem 42.5rem;
  grid-template-columns: repeat(4, minmax(auto, 33.5rem));
  margin-top: 10rem;
}
@media (max-width: 47em) {
  .projects__grid {
    display: block;
    margin-top: 3rem;
  }
}
@media (max-width: 47em) {
  .projects__item:not(:first-child) {
    margin-top: 5rem;
  }
}
.projects__item-pic img {
  display: block;
  width: 33.5rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 13%;
}
.projects__item-pic--main img {
  width: 69rem;
}
@media (max-width: 47em) {
  .projects__item-pic img {
    width: 100%;
  }
}
.projects__caption {
  margin-top: 3.5rem;
}
@media (max-width: 47em) {
  .projects__caption {
    margin-top: 2rem;
  }
}
.projects__item-expo2020 {
  grid-row: 1/2;
  grid-column: 1/2;
}
.projects__item-giants {
  grid-row: 1/3;
  grid-column: 2/5;
  justify-self: end;
}
.projects__item-title {
  margin-top: 2.5rem;
}
.projects__item-descr {
  margin-top: 1rem;
  opacity: 70%;
}
@media (max-width: 47em) {
  .projects__item-title {
    margin-top: 1.5rem;
  }
  .projects__item-descr {
    margin-top: 0.4rem;
  }
}
.projects__item-inspiring {
  margin-top: 1.3rem;
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
}
@media (max-width: 47em) {
  .projects__item-inspiring-text {
    display: none;
  }
}
.projects__item-globe {
  grid-row: 4/5;
  grid-column: 1/2;
}
.projects__item-surfer {
  grid-row: 4/5;
  grid-column: 2/3;
}
.projects__item-plantsVsZ {
  grid-row: 4/5;
  grid-column: 3/5;
  justify-self: end;
}
.projects__btn {
  margin-top: 7rem;
  width: 100%;
}
@media (max-width: 47em) {
  .projects__btn {
    margin-top: 5rem;
  }
}

/*------------------awards--------------------*/
.awards__inner {
  padding: 0 0 14rem 0;
  row-gap: 5rem;
}
@media (max-width: 47em) {
  .awards__inner {
    padding: 0 0 9rem 0;
    display: grid;
    -moz-column-gap: 21.8%;
         column-gap: 21.8%;
    row-gap: 3rem;
  }
}
@media (max-width: 27em) {
  .awards__inner {
    display: block;
    padding: 0 0 7rem 0;
  }
}
.awards__caption {
  margin-top: 3.5rem;
  grid-column: 1/2;
  place-self: start;
}
@media (max-width: 47em) {
  .awards__caption {
    margin-top: 2rem;
  }
}
.awards__item {
  grid-column: 2/-1;
  padding-bottom: 2.5rem;
  min-height: 8.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: baseline;
  border-bottom: 1px solid var(--element-black-040);
}
.awards__item:nth-child(2) {
  margin-top: 5rem;
}
@media (max-width: 47em) {
  .awards__item {
    padding-bottom: 1.5rem;
    min-height: 10.1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .awards__item:nth-child(2) {
    margin-top: 2rem;
  }
}
@media (max-width: 47em) and (max-width: 27em) {
  .awards__item {
    padding: 3rem 0;
  }
}
.awards__name {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 30% 70%;
}
.awards__name p {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
@media (max-width: 47em) {
  .awards__name {
    display: block;
  }
}
.awards__name-year {
  grid-column: 1/2;
}
.awards__name-title {
  grid-column: 2/3;
  width: 80%;
}
@media (max-width: 47em) {
  .awards__name-title {
    margin-top: 0.4rem;
    width: 100%;
  }
}
.awards__details {
  margin-left: 1.4rem;
  grid-column: 3/4;
}
@media (max-width: 47em) {
  .awards__details {
    margin: 1rem 0 0 0;
  }
}
.awards__btn {
  margin-top: 2rem;
  width: 100%;
  grid-column: 2/-1;
}
@media (max-width: 27em) {
  .awards__btn {
    margin-top: 5rem;
  }
}

/*------------------news--------------------*/
.news__inner {
  padding-bottom: 9.7rem;
  grid-template-rows: 18.5rem 8.5rem auto;
}
@media (max-width: 47em) {
  .news__inner {
    padding: 2rem 0 4rem 0;
  }
}
@media (max-width: 27em) {
  .news__inner {
    padding: 2rem 0 3rem 0;
  }
}
.news__caption {
  margin-top: 3.5rem;
  grid-column: 1/5;
  grid-row: 1/2;
  place-self: start;
}
@media (max-width: 47em) {
  .news__caption {
    margin: 0;
  }
}
.news__date {
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 9.4rem;
  overflow-wrap: break-word;
}
@media (max-width: 96em) {
  .news__date {
    grid-row: 1/2;
    align-self: end;
  }
}
@media (max-width: 47em) {
  .news__date {
    margin-top: 2rem;
    max-width: 100%;
    opacity: 70%;
  }
}
.news__title {
  grid-column: 2/4;
  grid-row: 2/3;
}
@media (max-width: 96em) {
  .news__title {
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: end;
  }
}
@media (max-width: 47em) {
  .news__title {
    margin-top: 1.5rem;
  }
}
.news__descr {
  grid-column: 4/5;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 96em) {
  .news__descr {
    grid-column: 3/5;
    grid-row: 3/4;
  }
}
@media (max-width: 47em) {
  .news__descr {
    margin-top: 1.5rem;
  }
}
.news__descr-text {
  flex: 1 1 auto;
  padding-right: 3.5rem;
}
.news__descr-text p:not(:first-child) {
  margin-top: 2.5rem;
}
@media (max-width: 47em) {
  .news__descr-text p:not(:first-child) {
    margin-top: 1rem;
  }
}
.news__descr-link {
  margin-bottom: 0.4rem;
}
@media (max-width: 47em) {
  .news__descr-link {
    margin-top: 2rem;
    text-align: right;
  }
}
.news__pic {
  grid-column: 1/3;
  grid-row: 3/4;
  max-width: 55rem;
}
@media (max-width: 47em) {
  .news__pic {
    margin: 4rem auto 0 auto;
  }
}
.news__pic img {
  width: 100%;
}
@media (max-width: 96em) {
  .news__pic img {
    width: 75%;
  }
}
@media (max-width: 47em) {
  .news__pic img {
    width: 100%;
  }
}
.news__view {
  margin-top: 5rem;
  min-height: 16.4rem;
}
@media (max-width: 47em) {
  .news__view {
    margin-top: 2rem;
    min-height: 7rem;
  }
}
@media (max-width: 27em) {
  .news__view {
    margin-top: 4rem;
    min-height: 8rem;
  }
}
.news__view-link {
  grid-column: 4/5;
  height: 2.4rem;
  width: 12.3rem;
}
.news__view-link::after {
  display: inline-block;
  padding: 0 0 0 2.6rem;
  content: "";
  background: url(../img/link_arrow.svg) right/contain no-repeat;
  height: 1.6rem;
  width: 1.6rem;
}
@media (max-width: 47em) {
  .news__view-link::after {
    height: 1rem;
    width: 1rem;
  }
}

/*------------------footer--------------------*/
.footer__marquee {
  min-height: 13.4rem;
  border-bottom: 1px var(--text-white) solid;
}
@media (max-width: 47em) {
  .footer__marquee {
    min-height: 5.6rem;
  }
}
.footer__inner {
  display: grid;
  align-items: center;
  -moz-column-gap: 3.2rem;
       column-gap: 3.2rem;
  row-gap: 2rem;
}
@media (max-width: 47em) {
  .footer__inner {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 1rem;
  }
}
@media (max-width: 27em) {
  .footer__inner {
    -moz-column-gap: 0.8rem;
         column-gap: 0.8rem;
    row-gap: 0.8rem;
  }
}
@media (max-width: 19em) {
  .footer__inner {
    display: block;
    text-align: center;
  }
}

.footer__talk {
  display: flex;
  padding: 12rem 0;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px var(--text-white) solid;
}
@media (max-width: 99em) {
  .footer__talk {
    flex-direction: column;
    gap: 3rem;
  }
}
@media (max-width: 47em) {
  .footer__talk {
    padding: 5rem 0;
  }
}
.footer__talk-btn {
  flex: 0 0 21rem;
  justify-self: center;
}
@media (max-width: 47em) {
  .footer__talk-btn {
    flex-basis: 12.4rem;
  }
}

.footer__talk-title1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.footer__talk-title2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.footer__talk-title3 {
  grid-column: 2/4;
  grid-row: 2/3;
}

.footer__talk-img1 {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 160px;
  height: 100px;
}
@media (max-width: 52em) {
  .footer__talk-img1 {
    width: 90px;
    height: 60px;
  }
}
@media (max-width: 33em) {
  .footer__talk-img1 {
    width: 48px;
    height: 30px;
  }
}

.footer__talk-img2 {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: end;
  width: 160px;
  height: 100px;
}
@media (max-width: 52em) {
  .footer__talk-img2 {
    width: 100px;
    height: 60px;
    border-radius: 90px;
  }
}
@media (max-width: 33em) {
  .footer__talk-img2 {
    width: 54px;
    height: 30px;
    border-radius: 20px;
  }
}

@media (max-width: 99em) {
  .footer__talk-title1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .footer__talk-title2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer__talk-title3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.footer-bottom {
  padding: 5rem 0 2rem 0;
  min-height: 37.3rem;
}
@media (max-width: 47em) {
  .footer-bottom {
    padding: 4rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
@media (max-width: 33em) {
  .footer-bottom {
    display: block;
  }
  .footer-bottom > :not(:first-child) {
    margin-top: 4rem;
  }
}
.footer-bottom__logo {
  display: inline-block;
  margin-bottom: 2.9rem;
}
@media (max-width: 47em) {
  .footer-bottom__logo {
    margin-bottom: 3.9rem;
  }
}
.footer-bottom__info {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
}
.footer-bottom__tel {
  margin-bottom: 1.4rem;
}
.footer-bottom__mail {
  grid-column: 3/4;
  grid-row: 1/2;
  list-style: none;
}
@media (max-width: 47em) {
  .footer-bottom__mail {
    grid-column: 2/3;
  }
}
.footer-bottom__mail-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer-bottom__adress {
  flex: 1 1 auto;
}
.footer-bottom__copy {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: end;
}
.footer-bottom__nav {
  display: flex;
  justify-content: space-between;
  grid-column: 4/5;
  grid-row: 1/2;
  gap: 4rem;
}
@media (max-width: 47em) {
  .footer-bottom__nav {
    grid-column: 3/4;
  }
}
@media (max-width: 33em) {
  .footer-bottom__nav {
    display: block;
  }
  .footer-bottom__nav-item:last-child {
    margin-bottom: 4rem;
  }
}
.footer-bottom__nav-item:not(:last-child) {
  margin-bottom: 1.5rem;
}/*# sourceMappingURL=style.css.map */