.long-button {
  height: 10rem;
  width: 100%;
  text-transform: uppercase;
  color: var(--text-black);
  border: 1px solid var(--element-black);
  border-radius: 7.4rem;
  background-color: transparent;

  // 752px
  @media (max-width: 47em) {
    height: 8rem;
  }
}
