.long-button {
  height: 10rem;
  width: 100%;
  text-transform: uppercase;
  color: var(--text-black);
  border: 1px solid var(--element-black);
  border-radius: 7.4rem;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;

  // 752px
  @media (max-width: 47em) {
    height: 8rem;
  }

  &:hover {
    background-color: var(--element-black);
    color: var(--text-white);
  }

  &:active {
    opacity: 0.95;
  }
}
