.mob-menu-btn {
  display: none;
  padding: 0.5rem 1rem;
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  //1008px
  @media (max-width: 63em) {
    &--open {
      display: inline-block;
      color: var(--text-white);
      background-color: var(--element-black);
    }

    &--close {
      color: var(--text-black);
      background-color: var(--background-white);
    }
  }

  // 752px
  @media (max-width: 47em) {
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
  }
}

.open-mob-menu .mob-menu-btn--open {
  display: none;
}

//1008px
@media (max-width: 63em) {
  .open-mob-menu .mob-menu-btn--close {
    display: inline-block;
  }
}
